.logForm {
  max-width: 600px;
  margin: auto;
  border: 1px solid #d6dde4;
  border-radius: 10px;
  padding: 50px 30px;
}
input.form-control {
  width: 100%;
}
label {
  font-size: 0.8rem;
  color: grey;
}