<div class="container">
  <div class="regForm">
    <form>
      <h3 style="font-weight: bolder;">Sign Up</h3>
      <p>Please fill in this form to create an account.</p>
      <div class="form-group">
        <label for="formGroupExampleInput">Email</label>
        <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Input Your Email">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Input your Username">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Confirm Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Confirm Password">
      </div>
      <button type="button" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>