<div class="container">
  <div class="regForm mt-5">
    <form #regForm = 'ngForm' (ngSubmit)='submit()'>
      <div>
      <h3 class="text-center font-weight-bold">Sign Up</h3>
      <p class="text-center mb-4">Please fill in this form to create an account.</p>
      <div class="form-group">
        <label for="formGroupExampleInput">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="new_user.first_name" id="firstName" name="firstName"
          placeholder="Input Your First Name">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="new_user.last_name" id="lastName" name="lastName"
          placeholder="Input Your Last Name">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Email</label>
        <input type="email" class="form-control" [(ngModel)]="new_user.email" id="email" name="email" placeholder="Input Your Email">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Username</label>
        <input type="text" class="form-control" [(ngModel)]="new_user.username" id="username" name="username" placeholder="Input your Username">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" [(ngModel)]="new_user.password" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Confirm Password</label>
        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password">
      </div>
      <div class="text-center small font-weight-bold my-4">
        Already have an account? <a routerLink='/login'>Log In</a>
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </div>
    </form>
    
  </div>
</div>